footer {
  margin-top: 25px;
  background-color: #000;
  color: #fff;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #dcdcdc;
}

footer .grid3 {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;
  grid-gap: 20px;
  gap: 20px;
}
footer .grid3 p {
  margin-top: 16px;
  color: #cacaca;
  font-family: "Montserrat", sans-serif;
  margin-right: 20px;
}
footer .grid3 .center {
  padding-left: 20%;
}
footer .grid3 strong {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
footer .grid3 .icons img {
  margin-right: 15px;
  height: 20px;
  width: 20px;
  margin-top: 20px;
}
footer .grid3 .link {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .grid3 .link span {
  border-bottom: 1px dashed #c53418;
  width: 60%;
  padding-bottom: 10px;
  padding-top: 10px;
}
footer .grid3 .link .no-border {
  border-bottom: 0 dashed #c53418;
}
footer .grid3 .link span a {
  font-size: 18px;
  color: #cacaca;
}
footer .grid3 .getintouch p {
  margin-top: 2%;
  margin-right: 25px;
}
footer .grid3 .reachus {
  background: url("../ASSETS/map.jpg");
  height: 100px;
  width: 250px;
  background-position: 50%;
  background-size: cover;
  margin-top: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #cacaca;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}
.copyright strong {
  margin-left: 10px;
}

.modal {
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}

.modal-container {
  height: 70vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-image {
  display: block;
  background: url("../ASSETS/map.jpg");
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 950px) {
  footer .grid3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 637px) {
  footer .grid3 {
    grid-template-columns: repeat(1, 1fr);
  }
  footer .grid3 .center {
    padding-left: 0;
  }
  .modal-container {
    height: 250px;
  }
  footer .grid3 .link span a {
    font-size: 16px;
    color: #cacaca;
  }
}

@media screen and (max-width: 350px) {
  p {
    font-size: 14px;
    width: 80%;
  }
  .map-link {
    width: 60%;
    background-color: #fff;
  }
}
