a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.fix_navigation_bar {
  height: 70px;
  background: #f1b787;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3%;
  font-size: 18px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.fix_navigation_bar a {
  color: #fff;
  margin-left: 20px;
}
.fix_navigation_bar-icons1 {
  font-size: 18px;
  margin-left: 20px;
}
.fix_navigation_bar-icons2 {
  font-size: 18px;
}

.fix_navigation_bar .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix_navigation_bar .icon1 {
  margin-right: 10px;
  width: 25px;
}

.fix_navigation_bar .icon2 {
  margin: 0px 10px;
  width: 25px;
}

.fix_navigation_bar .admission-open {
  margin-left: 5%;
}

@media screen and (max-width: 1000px) {
  .fix_navigation_bar {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 13.5px;
  }

  .fix_navigation_bar-icons1,
  .fix_navigation_bar-icons2 {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 900px) {
  .fix_navigation_bar {
    height: 70px;
    font-size: 12px;
  }

  .fix_navigation_bar-icons1,
  .fix_navigation_bar-icons2 {
    font-size: 12px;
  }
}

@media screen and (max-width: 820px) {
  .fix_navigation_bar {
    font-size: 11px;
    height: 65px;
  }

  .fix_navigation_bar-icons1,
  .fix_navigation_bar-icons2 {
    margin-right: 2px;
    font-size: 11px;
  }

  .fix_navigation_bar-icons2 {
    margin-left: 2px;
  }
}

@media screen and (max-width: 765px) {
  .fix_navigation_bar {
    font-size: 9.5px;
    height: 60px;
  }

  .fix_navigation_bar-icons1,
  .fix_navigation_bar-icons2 {
    margin-right: 2px;
    font-size: 9.5px;
  }

  .fix_navigation_bar-icons2 {
    margin-left: 2px;
  }
}

@media screen and (max-width: 660px) {
  .fix_navigation_bar {
    font-size: 7.5px;
    justify-content: center;
    height: 55px;
  }

  .fix_navigation_bar-icons1,
  .fix_navigation_bar-icons2 {
    font-size: 7.5px;
  }
}

@media screen and (max-width: 560px) {
  .fix_navigation_bar {
    font-size: 15px;
    justify-content: center;
    height: 50px;
  }

  .fix_navigation_bar a,
  Link {
    display: none;
  }

  .fix_navigation_bar-icons1,
  .fix_navigation_bar-icons2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 460px) {
  .fix_navigation_bar {
    font-size: 10px;
    height: 45px;
  }

  .fix_navigation_bar-icons1,
  .fix_navigation_bar-icons2 {
    font-size: 10px;
  }
}

@media screen and (max-width: 350px) {
  .fix_navigation_bar {
    height: 50;
    font-size: 8px;
  }

  .fix_navigation_bar-icons1,
  .fix_navigation_bar-icons2 {
    margin-right: 0;
    font-size: 8px;
  }
}

/* Sub Navigation Bar Started */
.navigationbar {
  padding: 0px 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}

.logo-container {
  width: 400;
  display: flex;
  justify-content: "center";
  align-items: "center";
}

.navigationbar-container {
  align-self: center;
}

.title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: black;
}

.sub-title {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #e5954e;
}

.navigationbar .menu1 {
  display: none;
  cursor: pointer;
}

.logo {
  height: 81px;
  width: 100px;
  margin-right: 5px;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 15px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: #000;
  outline: none;
  background-color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 0;
}

.dropbtn {
  font-size: 16px;
  border: none;
  color: #000;
  outline: none;
  background-color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.61);
  z-index: 10;
}

.dropdown-content a {
  margin-top: 10px;
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #747474;
}

.dropdown-content1 a:hover,
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.slider ul li:hover .dropdown-content {
  display: block;
  border-radius: 10px;
  padding: 10px;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  right: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.61);
  z-index: 10;
  padding: 10px;
}

.dropdown-content1 a {
  margin-top: 10px;
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #747474;
}

.dropdown:hover .dropdown-content1 {
  display: block;
}

@media screen and (max-width: 1300px) {
  .navigationbar {
    height: 100px;
    justify-content: space-between;
  }

  .logo-container {
    width: 500;
    display: flex;
    justify-content: "center";
    align-items: "center";
  }

  .logo {
    height: 81px;
    width: 70px;
    margin-right: 5px;
  }

  .navigationbar-container {
    align-self: center;
  }

  .navigationbar .title {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }

  .navigationbar .sub-title {
    font-size: 15px;
  }

  .dropdown {
    margin-left: 10px;
  }

  .dropdown-content {
    padding: 5px;
    min-width: 140px;
  }

  .dropdown-content Link {
    font-size: 15px;
  }

  .navbar .dropbtn {
    font-size: 15px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1100px) {
  .navigationbar {
    justify-content: space-between;
    height: 95px;
  }

  .logo {
    height: 60px;
    width: 60px;
  }

  .navigationbar .title {
    font-size: 14px;
    font-weight: 600;
  }

  .navigationbar .sub-title {
    font-size: 14px;
  }

  .dropdown {
    margin-left: 10px;
  }

  .dropdown-content {
    padding: 3px;
    min-width: 120px;
  }

  .navbar .dropbtn {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1050px) {
  .navigationbar {
    justify-content: space-between;
    height: 90px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .navigationbar .sub-title,
  .navigationbar .title {
    font-size: 12px;
  }

  .dropdown {
    margin-left: 9px;
  }

  .dropdown-content {
    min-width: 90px;
  }

  .navbar .dropbtn {
    font-size: 12px;
    font-weight: 600;
  }
}

@media screen and (max-width: 950px) {
  .navigationbar {
    justify-content: space-between;
    height: 85px;
  }

  .logo {
    height: 50px;
    width: 60px;
  }

  .navigationbar .sub-title,
  .navigationbar .title {
    font-size: 10.5px;
  }

  .dropdown {
    margin-left: 8px;
  }

  .dropdown-content {
    min-width: 80px;
  }

  .navbar .dropbtn {
    font-size: 10.5px;
  }
}

@media screen and (max-width: 860px) {
  .navigationbar {
    justify-content: space-between;
    height: 80px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .navigationbar .title {
    font-size: 9.5px;
    font-weight: 600;
  }

  .navigationbar .sub-title {
    font-size: 9px;
  }

  .dropdown {
    margin-left: 10px;
  }

  .dropdown-content {
    min-width: 80px;
  }

  .navbar .dropbtn {
    font-size: 8px;
    font-weight: 700;
  }
}

@media screen and (max-width: 860px) {
  .navigationbar {
    justify-content: space-between;
    height: 75px;
  }

  .logo {
    height: 50px;
    width: 40px;
  }

  .navigationbar .title {
    font-size: 9px;
    font-weight: 600;
  }

  .navigationbar .sub-title {
    font-size: 9px;
  }

  .dropdown {
    margin-left: 6px;
  }

  .dropdown-content {
    min-width: 70px;
  }

  .navbar .dropbtn {
    font-size: 8.5px;
  }
}

@media screen and (max-width: 730px) {
  .navigationbar {
    justify-content: space-between;
    height: 70px;
  }

  .logo {
    height: 50px;
    width: 35px;
  }

  .navigationbar .sub-title,
  .navigationbar .title {
    font-size: 7.5px;
  }

  .dropdown {
    margin-left: 5px;
  }

  .dropdown-content {
    min-width: 70px;
  }

  .navbar .dropbtn {
    font-size: 7.5px;
  }
}

@media screen and (max-width: 650px) {
  .navigationbar {
    justify-content: space-between;
    height: 70px;
  }

  .logo {
    height: 50px;
    width: 35px;
  }

  .navigationbar .sub-title,
  .navigationbar .title {
    font-size: 6.5px;
  }

  .dropdown {
    margin-left: 3px;
  }

  .dropdown-content {
    min-width: 70px;
  }

  .navbar .dropbtn {
    font-size: 6.5px;
  }
}

@media screen and (max-width: 560px) {
  .navigationbar {
    justify-content: center;
    height: 90px;
  }

  .logo {
    height: 81px;
    width: 150px;
  }

  .navigationbar .title {
    font-size: 15px;
    font-weight: 600;
  }

  .navigationbar .sub-title {
    font-size: 13px;
  }

  .navbar .dropbtn {
    display: none;
    font-size: 6px;
    font-weight: 700;
  }

  .navigationbar .menu1 {
    display: unset;
  }
}

@media screen and (max-width: 450px) {
  .navigationbar {
    justify-content: space-between;
    padding: 0;
  }

  .logo {
    margin-left: 35px;
    height: 71px;
    width: 90px;
  }

  .navigationbar .title {
    font-size: 12px;
    font-weight: 600;
  }

  .navigationbar .sub-title {
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  .navigationbar {
    justify-content: center;
  }

  .logo {
    margin-left: 15px;
    height: 51px;
    width: 55px;
  }

  .navigationbar .title {
    font-size: 9.5px;
    font-weight: 600;
  }

  .navigationbar .sub-title {
    font-size: 9px;
  }
}

/* Slider */
.slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 100;
  font-family: "Open Sans", sans-serif;
}
.logo-header-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.navigation-container-slider {
  display: flex;
}
.cross1 {
  font-size: 30px;
  height: 40px;
  width: 40px;
  background-color: #000;
  border-radius: 40px;
  border-style: none;
  color: #fff;
}
.logo-header-slider img {
  width: 60px;
  height: 40px;
}
.slider ul {
  list-style: none;
  width: 100%;
}
.direction-slider span {
  position: absolute;
  right: 40px;
  color: #000;
}
.slider ul li {
  color: #fff;
  margin: 10px;
  border: 1px solid #dcdcdc;
  padding: 5px;
  border-radius: 5px;
}

.slider ul li a {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

.dropdown .dropbtn1 {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown .dropbtn1,
.slider ul li a {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.dropdown-content {
  padding: 10px;
}

/* Form */
.circle,
.content-block {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 3;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.circle {
  width: 100px;
  height: 100px;
  background: #f1b787 0 0 no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  justify-content: center;
  bottom: 20px;
  right: 3%;
}
.circle,
.form {
  position: fixed;
}

.form {
  border: 1px solid #000;
  width: 500px;
  font-family: "Open Sans", sans-serif;
  z-index: 5;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  right: 50px;
  top: 25px;
  display: none;
}
.form,
.form div {
  font-size: 20px;
}
.form .head {
  border-radius: 10px 10px 0 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f1b787;
  font-size: 24px;
  width: 100%;
}
.form .form-content {
  padding: 15px;
}
.form .form-content .icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.form .form-content .icon-container1 {
  display: flex;
  margin-bottom: 20px;
}
.form .form-content .text-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  border-radius: 10px;
  opacity: 1;
  width: 65%;
  margin-left: 5%;
  padding: 20px;
}
.form .form-content .text-content input {
  border: none;
  height: 10px;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
}
.submit {
  background: #f1b787;
  border-radius: 20px;
  width: 20%;
  margin-left: 40%;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.form .icon,
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form .icon {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: 1px solid #f1b787;
}

@media screen and (max-width: 560px) {
  .form {
    width: 400px;
    right: 40px;
    bottom: 20px;
    font-size: 10px;
  }
  .form div {
    font-size: 16px;
  }
  .form .head {
    height: 60px;
    font-size: 12px;
    width: 100%;
  }
  .form .form-content {
    padding: 10px;
  }
  .form .form-content .text-content {
    width: 75%;
    margin-left: 5%;
    padding: 20px;
  }
  .form .icon {
    height: 35px;
    width: 35px;
  }

  .circle {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 450px) {
  .form {
    width: 300px;
    right: 15px;
    font-size: 12px;
  }

  .circle {
    right: 10%;
    bottom: 8%;
    width: 60px;
    height: 60px;
  }
}
